@import "_variables";
body{
  margin:0px;
  padding:0px;
  background-image: url("../quilt.jpg");
  background-size: cover;
}


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

nav{
  padding: 10px;
  background-color: $teal;
  width: 100%;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5em;
  .brand{
    float: left;
    margin-top: 5px;
  }
  .topNav, .bottomNav{
    width:85%;
    margin: auto;
    text-align: right;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .nav-items{
    width: 75%;
    text-align: right;
    display: inline-block;
    a{
      list-style-type: none;
      font-size: .5em;
      display: inline-block;
      margin: 15px;
    }
  }
}

.container{
  text-align: center;
  width: 65%;
  margin: auto;
  height: 393px;
  overflow: scroll;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 30px 10px;
  :after{
    width: 65%;
    margin:auto;
    content: "";
    background-color: white;
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height:cover;
  }
}

.intro{
  width:50%;
  margin: auto;
  text-decoration: none;
  color: white;
  text-align:left;
}

.fabricList{
  width:45%;
  display: inline-block;
  vertical-align: top;
}

article{
  text-align: left;
  height: 350px;
  padding: 10px;
  margin: 10px;
  background-color: gray;
}
.quilt{
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.shoppingList{
  text-align: left;
  a{
    text-decoration: none;
    color:black;
  }
}
