@import "_variables";
body{
  margin:0;
  padding:0;
  background-image: url("../quilt.jpg");
  background-size: cover;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

nav{
  padding: 10px;
  background-color: $teal;
  width: 100%;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5em;
  .brand{
    float: left;
    margin-top: 5px;
  }
  .topNav, .bottomNav{
    width:85%;
    margin: auto;
    text-align: right;
  }
  .nav-items{
    width: 75%;
    text-align: right;
    display: inline-block;
    a{
      list-style-type: none;
      font-size: .5em;
      display: inline-block;
      margin: 15px;
    }
  }
}

.container{
  text-align: center;
  width: 65%;
  margin: auto;
  height: 653px;
  overflow: scroll;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 30px 10px;
  :after{
    width: 65%;
    margin:auto;
    content: "";
    background-color: white;
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height:cover;
  }
}

.intro{
  width:50%;
  margin: auto;
  text-decoration: none;
  color: white;
  text-align:left;
}

.fabricList{
  width:45%;
  display: inline-block;
  vertical-align: top;
}

article{
  text-align: left;
  height: 300px;
  padding: 10px;
  margin: 10px;
  background-color: white;
}
.quilt{
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.shoppingList{
  width: 60%;
  margin: 20px auto;
  text-align: left;
  border-bottom: 1px solid gray;
  span, i{
    margin-right: 15px;
  }
}

a{
  text-decoration: none;
  color:black;
}

.actions{
  padding: 5px;
  border: 1px solid black;
  input{
    margin: 15px auto;
    display: block;
  }
  a{
    margin: 15px;
  }
}

img{
  height: 173px;
  width: 173px;
}
.fabricDetail{
  width: 40%;
  margin: auto;
  display: inline-block;
  vertical-align: top;
}
.calculateYardage, .shoppingList{
  border: 1px solid black;
  padding: 2px;
  margin: 5px auto;
}
.fabicYardage{
  float: right;
}
