body {
  margin: 0;
  padding: 0;
  background-image: url("../quilt.jpg");
  background-size: cover; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.nav-container {
  padding: 10px;
  background-color: #62BBC1;
  width: 100%;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5em; }
  .nav-container .brand {
    float: left;
    margin-top: 5px; }
  .nav-container .topNav, .nav-container .bottomNav {
    width: 85%;
    margin: auto;
    text-align: right; }
  .nav-container .nav-items {
    width: 75%;
    text-align: right;
    display: inline-block; }
    .nav-container .nav-items a {
      list-style-type: none;
      font-size: .5em;
      display: inline-block;
      margin: 15px; }

.container {
  text-align: center;
  width: 65%;
  margin: auto;
  height: 653px;
  overflow: scroll;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 30px 10px;
  background: rgba(255, 255, 255, 0.5); }

.intro {
  width: 50%;
  padding-top: 50px;
  margin: auto;
  text-decoration: none;
  color: black;
  text-align: left; }

.fabricList {
  width: 33%;
  display: inline-block;
  vertical-align: top; }

.fabric {
  text-align: left;
  height: 300px;
  padding: 10px;
  margin: 10px;
  background-color: white; }

.quilt {
  width: 25%;
  display: inline-block;
  vertical-align: top; }

.shoppingList {
  width: 60%;
  margin: 20px auto;
  text-align: left;
  border-bottom: 1px solid gray; }
  .shoppingList span, .shoppingList i {
    margin-right: 15px; }

a {
  text-decoration: none;
  color: black; }

.actions, .quiltActions {
  padding: 5px;
  border: 1px solid black; }
  .actions input, .quiltActions input {
    margin: 15px auto;
    display: block; }
  .actions a, .quiltActions a {
    margin: 15px; }

.fabric img {
  height: 173px;
  width: 173px; }

.fabricDetail {
  width: 40%;
  margin: auto;
  display: inline-block;
  vertical-align: top; }

.calculateYardage, .shoppingList {
  border: 1px solid black;
  padding: 2px;
  margin: 5px auto; }

.fabicYardage {
  float: right; }

.addToQuilt:hover {
  font-size: 1.5em; }

.quiltActions {
  vertical-align: bottom; }

.fabricName {
  height: 40px; }
