<div class="container">
  <div class="mainContent">
    <h2>Search for Fabric</h2>
    <div class="actions">
      <input type="text" name="etsyKeyword" value="Search Etsy" ng-model = "keyword" placeholder="">
      <a href="" ng-click="fabricCtrl.searchEtsy(keyword)">Search Etsy</a> |
      <a href="" ng-click="fabricCtrl.searchSpoonflower(keyword)">Search Spoonflower</a> |
      <a href="" ng-click="fabricCtrl.search(keyword)">Search Both</a>
    </div>

    <div ng-if="fabricCtrl.etsyFabrics.length > 0" class="fabricList">
      <h2>Etsy Fabrics</h2>
      <quilt-fabric ng-repeat="fabric in fabricCtrl.etsyFabrics" fabric="fabric">
        <a class="addToQuilt" ng-click = "fabricCtrl.addEtsyFabricToQuilt(fabric)">
          <i class="fa fa-plus"></i>
          Add to Quilt
        </a>
      </quilt-fabric>
    </div>

    <div ng-if="fabricCtrl.spoonflowerFabrics.length > 0"  class="fabricList">
      <h2>Spoonflower Fabrics</h2>
      <quilt-fabric ng-repeat="fabric in fabricCtrl.spoonflowerFabrics" fabric="fabric">
        <a class="addToQuilt" ng-click = "fabricCtrl.addSpoonflowerFabricToQuilt(fabric)">
          <i class="fa fa-plus"></i>
          Add to Quilt
        </a>
      </quilt-fabric>
    </div>

  </div>
</div>
