<div class="container">
  <div class="mainContent">
    <h2>Search for Fabric</h2>
    <div class="actions">
      <input type="text" name="etsyKeyword" value="Search Etsy" ng-model = "keyword" placeholder="">
      <a href="" ng-click="fabricCtrl.searchEtsy(keyword)">Search Etsy</a> |
      <a href="" ng-click="fabricCtrl.searchSpoonflower(keyword)">Search Spoonflower</a> |
      <a href="" ng-click="fabricCtrl.search(keyword)">Search Both</a>
    </div>

    <div ng-if="fabricCtrl.etsyFabrics.length > 0" class="fabricList">
      <h2>Etsy Fabrics</h2>
      <div quilt-fabric ng-repeat="fabric in fabricCtrl.etsyFabrics">
        <a class="addToQuilt" ng-click = "fabricCtrl.addEtsyFabricToQuilt(fabric)">
          <i class="fa fa-plus"></i>
          Add to Quilt
        </a>
      </div>
    </div>

    <div ng-if="fabricCtrl.spoonflowerFabrics.length > 0"  class="fabricList">
      <h2>Spoonflower Fabrics</h2>
      <article class="fabric" ng-repeat="fabric in fabricCtrl.spoonflowerFabrics" >
        <img ng-src="{{fabric.thumbnail_url}}" alt="{{fabric.name}}" />
        <h3 class="fabricName">{{fabric.name | limitTo: 45}}</h3>
        <!-- <p class="description">{{fabric.short_description}}</p> -->
        <a class="addToQuilt" ng-click = "fabricCtrl.addSpoonflowerFabricToQuilt(fabric)">
          <i class="fa fa-plus"></i>
          Add to Quilt
        </a>
      </article>
    </div>

  </div>
</div>
