<div class="container">
  <div class="mainContent">
    <h2>Search for Fabric</h2>
    <div class="actions">
      <input type="text" name="etsyKeyword" value="Search Etsy" ng-model = "keyword" placeholder="">
      <a href="" ng-click="searchEtsy(keyword)">Search Etsy</a> |
      <a href="" ng-click="searchSpoonflower(keyword)">Search Spoonflower</a> |
      <a href="" ng-click="search(keyword)">Search Both</a>
    </div>

    <div ng-if="etsyFabrics.length>0" class="fabricList">
      <h2>Etsy Fabrics</h2>
      <article  ng-repeat="fabric in etsyFabrics">
        <img src="{{fabric.image}}" alt="{{fabric.title}}" />
        <h3 class="fabricName">{{fabric.title | limitTo: 45}}</h3>
        <!-- <p class="description">{{fabric.short_description}}</p> -->
        <a ng-click = "addEtsyFabricToQuilt(fabric)">
          <i class="fa fa-plus"></i>
          Add to Quilt
        </a>
      </article>
    </div>

    <div ng-if="spoonflowerFabrics.length>0"  class="fabricList">
      <h2>Spoonflower Fabrics</h2>
      <article ng-repeat="fabric in spoonflowerFabrics" >
        <img src="{{fabric.thumbnail_url}}" alt="{{fabric.name}}" />
        <h3 class="fabricName">{{fabric.name | limitTo: 45}}</h3>
        <!-- <p class="description">{{fabric.short_description}}</p> -->
        <input type="button" name="addToQuilt" ng-click = "addSpoonflowerFabricToQuilt(fabric)" value="Add to Quilt">
      </article>
    </div>

  </div>
</div>
