<div class="container">
  <div class="mainContent">
    <article class="fabricDetail">
      <img src="{{fabric.image}}" alt="{{fabric.title}}" />
      <a href="{{fabric.url}}"><h3 class="fabricName">{{fabric.title | limitTo: 45}}</h3></a>
      <!-- <p class="description">{{fabric.description}}</p> -->
      <a  ng-click = "removeQuiltFabric(fabric)" >
        <i class="fa fa-trash"></i>
      </a>
    </article>
    <article class="fabricDetail">
      <div class="actions">
        <h4>All measurements are in inches, assuming 42 inch fabric width</h4>
        <input type="text" name="width" ng-model="width" placeholder="Square Width">
        <input type="text" name="height" ng-model="height" placeholder="Square Height">
        <input type="text" name="num" ng-model="num" placeholder="Number of Squares">
        <a ng-click = "calculateYardage(fabric, height, width, num)" name="calculateYardage">Calculate Yardage</a>
      </div>
      <h2 ng-if = "fabric.yardage" class="yardage">{{fabric.yardage}} Yards Needed</h2>
    </article>

  </div>
</div>
