<div class="container">
  <div class="mainContent">
    <quilt-fabric class="quilt" fabric="quiltCtrl.fabric">
      <a  ng-click = "quiltCtrl.removeQuiltFabric(quiltCtrl.fabric)" >
        <i class="fa fa-trash"></i>
      </a>
    </quilt-fabric>
    <article class="fabricDetail">
      <div class="actions">
        <h4>All measurements are in inches, assuming 42 inch fabric width</h4>
        <input type="text" nameche="width" ng-model="width" placeholder="Square Width">
        <input type="text" name="height" ng-model="height" placeholder="Square Height">
        <input type="text" name="num" ng-model="num" placeholder="Number of Squares">
        <a ng-click = "quiltCtrl.calculateYardage(quiltCtrl.fabric, height, width, num)" name="calculateYardage">Calculate Yardage</a>
      </div>
      <h2 ng-if = "quiltCtrl.fabric.yardage" class="yardage">{{quiltCtrl.fabric.yardage}} Yards Needed</h2>
    </article>

  </div>
</div>
